<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dojo Survey</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div class="form-box p-4">
    <h1 class="text-center text-warning fw-bolder">Dojo Survey</h1>
    <form class="text-center my-5" action="/reset" method="post">
      <label class="d-block text-light fw-bold" for="name">Name:</label>
      <p class="text-light">{{ session['name'] }}</p>
      <label class="d-block text-light fw-bold" for="location">Dojo Location:</label>
      <p class="text-light">{{ session['location'] }}</p>
      <label class="d-block text-light fw-bold" for="language">Favorite Language:</label>
      <p class="text-light">{{ session['language'] }}</p>
      <label class="d-block text-light fw-bold" for="comment">Comment: (optional)</label>
      <p class="text-light">{{ session['comment'] }}</p>
      <button type="submit" class="btn btn-warning fw-bold text-center">BACK</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>